body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.bg {
    background-color: #2a2828;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 100%;
    justify-content: center;
}

.bt-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; 
}

.btn {
    padding: 1rem 2rem;
    margin: 1rem 2rem;
    background-color: hsl(204, 6%, 31%); 
    color: #fff;
}

.btn:hover{
    background-color: hsl(204, 11%, 18%);
}

h2 {
    font-size: 24px;
}

h5 {
    font-size: 14px;
    color: #666;
}

textarea{
    display:block;
    width:100%;
    resize: none;
    padding: 4px;
    color: #202020;
    border: 1.5px solid #b2b2b2;
    border-radius: 5px;
}
p{
    width: 100%;
    text-align: right;
    margin-top: 15px;
    color: #737373;
}

.footer {
    width: 100%;
    background-color: rgba(169, 169, 169, 0.3); 
    padding: 1rem;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.number-buttons {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.number-button {
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    background-color: #ccc;
    border: 1px solid #999;
    border-radius: 0.3rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.number-button.active {
    background-color: #333;
    color: #fff;
}

@media (max-width: 768px) {
    .container {
        max-width: 80%;
    }
}
