<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Student Page</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: black;
            background-image: url(/back/views/img/studback.jpg); 
            background-size: cover; 
            background-repeat: repeat;
            background-position: center center;
            overflow-x: hidden;
           }
    
    
            #container {
                display: flex;
            }
    
            #sidebar {
                height: 100vh;
                width: 0;
                position: fixed;
                top: 0;
                left: 0;
                background-color: #333;
                overflow-x: hidden;
                transition: 0.5s;
                text-align: center;
            }
    
            #sidebar a {
                width: 20vw;
                padding: 20px;
                text-decoration: none;
                font-size: 16px;
                color: white;
                display: block;
                transition: 0.3s;
                box-sizing: border-box;
            }
    
            #sidebar a:hover {
                background-color: #555;
            }
    
            #content {
                flex-grow: 1;
                padding: 20px;
                text-align: center;
            }
    
            #openBtn {
                font-size: 30px;
                cursor: pointer;
                position: fixed;
                z-index: 1;
                margin-left: 15px;
                margin-top: 15px;
                color: #fff;
            }
    
            #content {
             flex-grow: 1;
             padding: 20px;
             text-align: center;
            }
    
           #content .p1, #content .p2 {
             max-width: 800px;
             margin: 20px auto; 
             background-color:rgba(251, 249, 249, 0.7);
             padding: 20px;
             border-radius: 10px;
           }
    
            #paragraph1, #paragraph2 {
                text-align: left;
                color: #fff;
            }
    
            h1 {
                margin-bottom: 20px; 
                color: #fff;
            }
    
          @media screen and (max-width: 768px) {
           #content {
            padding: 20px 10px; 
            }
    
           #content .p1, #content .p2 {
            max-width: 100%; 
           }
         }
    
    
            @media screen and (max-width: 768px) {
                #sidebar a {
                    width: 100%;
                }
            }
        </style>
</head>
<body>
    <span id="openBtn" onclick="toggleNav()">&#9776;</span>

    <div id="container">
        <div id="sidebar">
            <a href="javascript:void(0)" class="closebtn" onclick="toggleNav()">&times;</a>

            <a href="/select" onclick="toggleNav()">Take Quiz</a>

            <a href="page2.html">Upcoming Quiz</a>
            <a href="page3.html">Results</a>
            <a href="page4.html">Overall Analysis</a>
        </div>
        <div id="content">
            <h1>Student</h1>
            <div class="p1">
                <p id="paragraph1">Knowledge is something that will serve you your whole life. The most powerful thing in the world is knowledge because it can create and destroy life on earth. </p>
            </div>
            <div class="p2">
                <p id="paragraph2">Quizzes are a great way to have fun, but they can also be used as a tool for self-improvement. They can help you learn more about yourself and how others view you.</p>
            </div>
        </div>
    </div>

    <script>
        function toggleNav() {
            var sidebar = document.getElementById("sidebar");
            sidebar.style.width = sidebar.style.width === "20vw" ? "0" : "20vw";
        }

    </script>
</body>
</html>
